.video-component {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: clip;
}
.video-component__overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9;
  color: var(--color-text-main);
}
.video-component--crop video {
  object-fit: cover;
}
.video-component__play {
  display: block;
  width: clamp(60px, 10vw, 110px);
  height: clamp(60px, 10vw, 110px);
  transition: all 120ms linear;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.video-component__play:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: var(--border-radius-buttons);
}
.video-component__play svg {
  position: relative;
  top: 1px;
  z-index: 9;
}
.video-component__play svg circle {
  stroke: var(--color-text-main);
}
.video-component__play svg path {
  fill: var(--color-text-main);
}
.video-component__overlay-content .video-component__play {
  position: static;
  transform: none;
}
.video-component__background {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.video-component__background:after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.36;
}
.video-component__background.onboarding-svg {
  position: absolute;
  top: 0;
}
html[dir=rtl] .video-component__background.onboarding-svg {
  right: 0;
}
html[dir=ltr] .video-component__background.onboarding-svg {
  left: 0;
}
.video-component iframe, .video-component video {
  z-index: 99;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  position: absolute;
}
.video-component[data-autoplay=true] iframe, .video-component[data-autoplay=true] video {
  opacity: 0;
  transition: opacity 700ms ease-out;
}
.video-component[data-autoplay=true].video-playing iframe, .video-component[data-autoplay=true].video-playing video {
  opacity: 1 !important;
}
.video-component[data-autoplay=true].video-playing .video-component__autoplay-poster {
  opacity: 0;
}
.video-component[data-autoplay=true] .video-component__blackout {
  display: none;
}
.video-component__container {
  overflow: hidden;
}
.video-component__container, .video-component__autoplay-poster {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.video-component__autoplay-poster {
  transition: opacity 0.15s linear;
  z-index: 8;
}
.video-component__blackout {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 100ms linear;
  pointer-events: none;
  opacity: 0;
  background: #000;
  z-index: 90;
}
.video-component__link {
  cursor: pointer;
  display: block;
}
.no-touchevents .video-component__link:hover .video-component__play:after {
  transform: scale(1.05);
}
.video-component__close {
  display: none;
  position: absolute;
  top: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
}
html[dir=rtl] .video-component__close {
  left: 1.25rem;
}
html[dir=ltr] .video-component__close {
  right: 1.25rem;
}
.video-component__close svg, .video-component__close span {
  width: 0.875rem;
  height: 0.875rem;
  display: block;
  z-index: 999;
}
.video-component__close svg * {
  stroke: var(--color-text-main);
}
.video-component__close:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background: var(--color-background-main);
  border-radius: var(--border-radius-buttons);
}
.no-touchevents .video-component__close:hover:after {
  transform: scale(1.05);
}
.video-component.video-opened .video-component__close {
  display: flex;
}
.video-component.video-opened figure {
  display: none;
}

.video-popup--section {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.video-popup--section .video-component__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 5;
}
.video-popup--section .video-component__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 100%;
}
.video-popup--section .video-component__play {
  position: static;
  transform: none;
}
.video-popup--section .video-component__play svg * {
  stroke: var(--color-text-main);
}
.video-popup--section .video-popup-title {
  z-index: 9;
  color: var(--color-text-main);
}