.cart-item {
  display: flex;
  align-items: stretch;
  position: relative;
}
.sidebar .cart-item:not(:first-child) {
  margin-top: calc(var(--sidebar-gutter) * 0.75);
}
.cart-item__thumbnail {
  display: block;
  width: 6.25rem;
  align-self: flex-start;
  flex-shrink: 0;
  overflow: hidden;
  border-color: var(--color-borders-main);
}
.cart-item__thumbnail img {
  vertical-align: middle;
  opacity: 1 !important;
}
.cart-item__content {
  margin-inline-start: 1.25rem;
  display: flex;
  min-height: 100%;
  align-items: flex-start;
  word-break: break-word;
}
.search-item .cart-item__content {
  align-items: center;
}
.cart-item__content > div > * {
  display: block;
}
.cart-item__price {
  margin-bottom: 0.125rem;
}
.cart-item__unit-price {
  margin: -0.375rem 0 0.125rem;
}
.cart-holder .cart-item__unit-price {
  display: block;
}
.search-block .cart-item__unit-price {
  margin-top: -0.125rem !important;
}
.cart-item__variant {
  margin-top: 0.25rem;
}
.cart-item__variant + .cart-item__variant {
  margin-top: -0.25rem;
}
.cart-item__property {
  margin-top: 0.25rem;
}
@media screen and (max-width: 474px) {
  .cart-item__property {
    font-size: calc(11px / 16 * var(--base-body-primary-size) + 0px);
  }
}
@media screen and (min-width: 475px) and (max-width: 1023px) {
  .cart-item__property {
    font-size: calc(12px / 16 * var(--base-body-primary-size) + 0px);
  }
}
@media screen and (min-width: 1024px) {
  .cart-item__property {
    font-size: calc(13px / 16 * var(--base-body-primary-size) + 0px);
  }
}
.cart-item__title {
  font-weight: var(--font-weight-body-primary-bold);
  line-height: 1.25;
}
.cart-item__actions {
  display: flex !important;
  position: relative;
  margin-top: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.375rem 0.75rem;
}
.cart-item__actions .quantity-selector-holder {
  justify-content: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
}
.cart-item__actions cart-product-quantity {
  display: flex;
  border: 1px solid var(--color-borders-forms-primary);
  border-radius: var(--border-radius-forms);
}
.cart-item__actions .qty-button {
  line-height: 1;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
}
.cart-item__actions .qty-button svg * {
  fill: var(--color-text-main);
  transition: all 100ms linear;
}
.cart-item__actions .qty-button.qty-minus svg {
  transform: translateX(0.125rem);
}
.cart-item__actions .qty-button.qty-plus svg {
  transform: translateX(-0.125rem);
}
.cart-item__actions .qty-selector {
  height: 1.875rem;
  width: 1.875rem;
  border: 0;
  padding: 0;
  text-align: center;
  line-height: 1;
  font-size: calc(16px / 16 * var(--base-body-primary-size) + 0px);
}
.cart-item__actions .remove {
  line-height: 1;
}
.cart-item--gift-wrapping .remove, .cart-item--gift-wrapping .qty-button {
  display: none;
}
.cart-item--gift-wrapping cart-product-quantity {
  border: none;
  pointer-events: none;
}
.sidebar .cart-item--gift-wrapping .quantity-selector-holder {
  display: none;
}

.cart-notice {
  padding-top: 1.0625rem !important;
  padding-bottom: 1.5625rem !important;
}
.sidebar .cart-notice {
  margin-bottom: var(--sidebar-gutter);
  padding-inline-start: var(--sidebar-gutter);
  padding-inline-end: var(--sidebar-gutter);
  border-bottom: 1px solid var(--color-borders-main);
}
.cart-notice__slider {
  display: block;
  height: 0.3125rem;
  width: 100%;
  background: var(--color-secondary-background-main);
  margin-top: 0.3125rem;
  border-radius: 0.3125rem;
  position: relative;
}
.cart-notice__slider-bar {
  position: absolute;
  top: 0;
  height: 100%;
  border-radius: 0.3125rem;
  background: var(--color-text-main);
}
html[dir=rtl] .cart-notice__slider-bar {
  right: 0;
}
html[dir=ltr] .cart-notice__slider-bar {
  left: 0;
}

.cart__form.processing {
  opacity: 0.36;
  pointer-events: none;
}
.sidebar .cart__form {
  margin-top: var(--sidebar-gutter);
  padding-inline-start: var(--sidebar-gutter);
  padding-inline-end: var(--sidebar-gutter);
  margin-bottom: var(--sidebar-gutter);
}
.cart__details--row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--color-borders-main);
  align-items: center;
}
.cart__details--row:first-child {
  padding-top: 0;
}
.cart__details--row strong {
  text-align: right;
}
.cart__total strong {
  font-size: calc(28px / 16 * var(--base-body-primary-size) + 0px);
  line-height: 0;
}
.cart__shipping {
  margin-top: 0.9375rem;
}
.cart__shipping + .flex-buttons {
  margin-top: 0.3125rem !important;
}

#site-cart-sidebar .cart-continue {
  margin-top: 1.5rem;
}
#site-cart-sidebar.cart-is-empty .hide-if-empty-cart {
  display: none;
}
#site-cart-sidebar:not(.cart-is-empty) .cart-continue {
  display: none;
}
#site-cart-sidebar .sidebar__footer {
  padding: var(--sidebar-gutter);
}

.cart-wrapping {
  display: flex;
  position: relative;
}
.cart-wrapping--sidebar {
  border-top: 1px solid var(--color-borders-main);
  padding: 0.9375rem var(--sidebar-gutter);
}
.cart-wrapping--sidebar label {
  font-size: calc(13px / 16 * var(--base-body-primary-size) + 0px);
}
.cart-wrapping--page {
  margin-bottom: 2rem;
}
.cart-wrapping--page label {
  font-size: calc(14px / 16 * var(--base-body-primary-size) + 0px);
}
.cart-wrapping input {
  flex-shrink: 0;
}
.cart-wrapping label {
  margin-left: 10px;
}
.cart-section--empty .cart-wrapping, .cart-is-empty .cart-wrapping {
  display: none;
}

.additional-checkout-buttons {
  margin-top: 0.5rem;
}

.agree-to-terms {
  display: flex;
  align-items: center;
}
.agree-to-terms label {
  margin-inline-start: 0.5rem;
}
.agree-to-terms a {
  border-bottom: 1px solid;
}

#CheckOut:disabled {
  opacity: 0.36;
  cursor: not-allowed;
  pointer-events: none;
}

.cart-item__bundle {
  margin-top: 0.375rem;
  width: auto !important;
  display: block !important;
}
.cart-item__bundle details .cart-item__bundle-toggle {
  cursor: pointer;
  margin-bottom: 0.375rem;
}
.cart-item__bundle details .hide-bundle {
  display: none;
}
.cart-item__bundle details .cart-item__bundle-toggle-icon svg {
  transform: scale(0.75);
}
.cart-item__bundle details[open] .show-bundle {
  display: none;
}
.cart-item__bundle details[open] .hide-bundle {
  display: inline-block;
}
.cart-item__bundle details[open] .cart-item__bundle-toggle-icon svg {
  transform: scale(0.75) rotateX(180deg);
}
.cart-item__bundle .cart-item__bundle-components {
  margin-top: 0.625rem;
}
.cart-item__bundle .cart-item__bundle-components .cart-item__bundle-component {
  gap: 0.75rem;
  margin-bottom: 0.625rem;
}
.cart-item__bundle .cart-item__bundle-components .cart-item__bundle-component .cart-item__thumbnail {
  width: 3.75rem;
}
.cart-item__bundle .cart-item__bundle-components .cart-item__bundle-component-info {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.cart__discount-codes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.125rem;
  font-size: 92%;
}

.cart__discount-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.cart__discount-code-title {
  display: flex;
  gap: 0.375rem;
  opacity: 0.62;
  line-height: 1;
}
.cart__discount-code-title svg {
  max-width: 18px;
  width: 100%;
  margin-top: -0.125rem;
}
.cart__discount-code-title svg * {
  stroke: var(--color-text-main);
  fill: none !important;
}
.cart__discount-code-amount {
  line-height: 1;
}

.cart__coupons-codes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
.cart__coupons-codes:empty {
  display: none;
}
.cart__coupons-codes.processing {
  opacity: 0.36;
  pointer-events: none;
}
.cart__coupons-codes .pill {
  background: var(--color-secondary-background-main) !important;
  pointer-events: all !important;
  cursor: default;
}

.cart__coupons-form {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
}
.cart__coupons-form input {
  width: 100%;
}
.cart__coupons-form .button {
  width: auto;
}

.cart__coupons-error .alert {
  margin-bottom: 0;
  margin-top: 0.75rem;
}

.cart__subtotal-widget > *:first-child .form-field {
  margin-top: 0;
}
.cart__subtotal-widget .cart__instructions,
.cart__subtotal-widget .cart__coupons {
  margin-bottom: 1.5rem;
}

.sidebar__body .cart__coupons:not(:last-child),
.sidebar__body .cart__instructions:not(:last-child) {
  border-bottom: 1px solid var(--color-borders-main);
}
.sidebar__body .cart__accordion-details[open] {
  padding-block-end: var(--gutter-regular);
}
.sidebar__body .cart__accordion-title,
.sidebar__body .cart__coupons-label {
  margin-bottom: 0.375rem;
}
.sidebar__body .cart__accordion-details .cart__accordion-title,
.sidebar__body .cart__accordion-details .cart__coupons-label {
  margin-block-end: 0;
}
.sidebar__body .cart-detail--collapsible-false {
  padding: var(--gutter-regular) var(--sidebar-gutter);
}
.sidebar__body .cart-detail--collapsible-true {
  padding: 0 var(--sidebar-gutter) !important;
}

.cart__coupons-label {
  margin-top: 0.375rem;
}

.cart__accordion-details .cart__accordion-icon {
  display: flex;
}
.cart__accordion-details[open] .cart__accordion-icon {
  transform: rotate(180deg);
}
.cart__accordion-details summary {
  justify-content: space-between;
  padding-block: 1rem 0.875rem;
  cursor: pointer;
}

.cart-is-empty .cart-form {
  padding: var(--sidebar-gutter);
}
.cart-is-empty .cart-form .cart__form {
  padding: 0;
  margin: 0;
}

#AjaxCartSubtotal.processing > * {
  opacity: 0.36;
  pointer-events: none;
}

.cart-item__discounts {
  margin-top: 0.3125rem;
  display: flex !important;
  flex-wrap: wrap;
  gap: 0.3125rem;
}
.cart-item__discounts .pill {
  background: var(--color-secondary-background-main) !important;
  cursor: default;
}