.product-variant .css-slider:not(.enabled) .product-variant__container--radio {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-variant .css-slider:not(.enabled) .product-variant__container--radio::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.product-text .product-variants {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--gutter-regular);
}

.product-variant .css-slider:not(.enabled) .product-variant__container--radio {
  padding: 0.0625rem;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.product-variant__name {
  font-weight: var(--font-weight-body-primary-bold);
  display: block;
  margin-bottom: 0.625rem;
}
.product-variants--thumbnails .product-variant__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.9375rem;
  margin-top: 0.625rem;
}
@media screen and (max-width: 474px) {
  .product-variants--thumbnails .product-variant__container {
    gap: 0.625rem;
  }
}
.product-variant__container--radio {
  display: flex;
  flex-wrap: nowrap;
}
.product-text .product-variant__container--radio {
  flex-wrap: wrap;
  gap: 0.5rem;
}
.product-text .product-variant__container--radio .product-variant__item--radio {
  margin: 0;
}
.product-variant__container--radio--nowrap {
  flex-wrap: wrap;
  gap: 0.6875rem;
}
.product-variant__container--radio--nowrap .product-variant__item--radio {
  padding-inline-end: 0 !important;
}
html[dir=rtl] .product-variant__container--radio--nowrap .product-variant__item--radio {
  margin-left: 0;
}
html[dir=ltr] .product-variant__container--radio--nowrap .product-variant__item--radio {
  margin-right: 0;
}
.product-variant__container--radio--nowrap .product-variant__item--radio label {
  transform: none !important;
}
.product-variant__container--select {
  line-height: 1.2;
  padding-inline-start: 0.75rem;
  background-position-x: calc(100% - 0.75rem);
  padding-inline-end: 2.375rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.product-variant__container--select html[dir=rtl] {
  background-position-x: 0.75rem;
}
.sidebar .product-variant__container--select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: calc(14px / 16 * var(--base-body-primary-size) + 0px);
}
.product-variants--hide-unavailable .product-variant__container--select option.disabled, .product-variants--hide-unavailable .product-variant__container--select option[disabled] {
  display: none;
}
.product-variant__quantity:not(:empty) {
  margin-top: 0.75rem;
  display: block;
}
.product-variants--hide-unavailable .product-variant__item.disabled {
  display: none;
}
.product-variants--thumbnails .product-variant__item {
  width: 5rem;
  border: 1px solid var(--color-borders-main);
  border-radius: clamp(0px, var(--border-radius-product-card), 10px);
  transition: border 175ms linear;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .product-variants--thumbnails .product-variant__item {
    width: 4.375rem;
  }
}
.product-variants--thumbnails .product-variant__item--current {
  border-color: var(--color-text-main) !important;
  box-shadow: 0 0 0px 1px var(--color-text-main);
}
.no-touchevents .product-variants--thumbnails .product-variant__item:hover {
  border-color: var(--color-borders-forms-primary);
}
.product-variant__item--radio {
  position: relative;
  display: inline-block;
  margin: 0 0.6875rem 0 0;
}
.product-variant__item--radio:not(:first-child) label {
  transform: translateX(0.0625rem);
}
.product-variant__item--radio.css-slide:last-child {
  padding-inline-end: 1.5625rem;
  pointer-events: none;
}
.product-variant__item--radio label {
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius-buttons);
  border-color: var(--color-borders-forms-primary);
  color: var(--color-text-main);
  padding: var(--input-padding) calc(var(--input-padding) * 1.5);
  transition: all 100ms linear;
  line-height: 1;
  width: max-content;
  min-width: 2.5rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .product-variant__item--radio label {
    padding-bottom: calc(var(--input-padding) - 1px);
  }
}
.product-variant__item--radio input {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  opacity: 0;
  pointer-events: all !important;
  cursor: pointer;
}
html[dir=rtl] .product-variant__item--radio input {
  right: 0;
}
html[dir=ltr] .product-variant__item--radio input {
  left: 0;
}
.product-variant__item--radio input:before {
  display: none;
}
.product-variant__item--radio input.disabled + label, .product-variant__item--radio input[disabled] + label {
  opacity: 0.22;
  text-decoration: line-through;
  cursor: default;
}
.product-variant__item--radio input[disabled] {
  cursor: default;
  pointer-events: none;
}
.product-variant__item--radio input[disabled] + label {
  cursor: default;
}
.product-variant__item--radio input:checked + label {
  border-color: var(--color-text-main) !important;
  box-shadow: 0 0 0px 1px var(--color-text-main);
}
.no-touchevents .product-variant__item--radio input:hover:not([disabled]) + label {
  border-color: var(--color-borders-forms-secondary);
}
.product-variant__item--radio input:focus-visible + label {
  box-shadow: 0 0 0 3px var(--color-secondary-background-main);
}
.product-variant__item--color {
  height: 36px;
  margin-inline-end: 0.5rem;
}
.product-variant__item--color label {
  min-width: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 0;
  position: relative;
  pointer-events: none;
  border-color: transparent;
  margin-top: 0.0625rem;
  transform: translateX(0.0625rem);
}
.product-variant__item--color label span {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.product-variant__item--color input:checked + label {
  border-color: var(--color-text-main) !important;
  border: 1px solid;
}
.product-variant__item--color input:checked + label span {
  box-shadow: none;
}
.no-touchevents .product-variant__item--color input:hover:not([disabled]):not(:checked) + label {
  border-color: transparent;
  outline: 1px solid var(--color-borders-forms-primary);
  outline-offset: 0.0625rem;
}
.product-variant__item--color .product-variant__item-swatch {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 100%;
}
.product-variant__item-text-label {
  display: block;
  margin-top: 0.625rem;
}

.product-variants--hide-unavailable .disabled + label {
  display: none;
}

.hide-variant {
  display: none;
}

.product-variants--hide-unavailable .product-variant--all-disabled .product-variant__container--select {
  opacity: 0.36;
  pointer-events: none;
}

.product-variants--hide-unavailable .product-variant__container--radio .product-variant__item--disabled,
.product-variants--hide-unavailable .product-variant--all-disabled .product-variant__item-text-label {
  display: none;
}

.product-component--default-to-first-variant-false:not(.variant-selected) .show-block-if-variant-selected {
  display: none;
}
.product-component--default-to-first-variant-false.variant-selected .show-block-if-variant-not-selected-yet {
  display: none;
}

.product-variants--text input, .product-variants--text textarea {
  width: 100%;
}
.product-variants--checkbox .product-variant__name {
  margin-bottom: 0;
}
.product-variants--checkbox > div {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.product-variant__required {
  margin-top: 0.3125rem;
}