.main-footer {
  margin-top: var(--container-vertical-space);
  border-top: 1px solid var(--color-borders-footer);
  background: #f5f5f5 !important;
  color: #333 !important;
}

.main-footer .footer-item__title {
  color: #000 !important;
  font-weight: 600 !important;
}

.main-footer a {
  color: #333 !important;
  transition: all 100ms linear;
}

.no-touchevents .main-footer a:hover {
  color: #000 !important;
}

.main-footer .social-icons svg * {
  fill: #333 !important;
  transition: all 100ms linear;
}

.no-touchevents .main-footer .social-icons a:hover svg * {
  fill: #000 !important;
}

.main-footer .localization-form__item-text {
  color: #333 !important;
}

.main-footer .localization-form__item-symbol svg path {
  fill: var(--color-text-footer);
}

.main-footer .footer-item__menu span {
  display: block;
  margin-bottom: 0.3125rem;
}

.main-footer .footer-item__menu--unstyled a {
  border-bottom: none !important;
}

.footer-bottom>div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer-bottom>div {
    flex-direction: column;
  }

  .footer-bottom>div .localization-form {
    margin-inline-start: -0.9375rem;
    margin-top: 0.625rem;
  }
}

.footer-top+.footer-bottom {
  border-top: 1px solid var(--color-borders-footer);
}

.footer-item__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

.footer-item__icons img {
  border-radius: 2px;
}

.footer-item__image-heading {
  margin-bottom: 1em;
}

/* Logo in first footer column */
.footer-top .grid>.footer-item:first-child .footer-item__image-heading {
  max-width: 180px !important;
  margin-bottom: 1.5rem;
}

.footer-top .grid>.footer-item:first-child .footer-item__image-heading img {
  width: 100%;
  height: auto;
  display: block;
}

/* Ensure first column has proper spacing */
.footer-top .grid>.footer-item:first-child {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer-top .grid>.footer-item:first-child .footer-item__image-heading {
    max-width: 150px !important;
    margin-bottom: 1rem;
  }
}

.footer-item__newsletter input:-webkit-autofill+button[type=submit] svg path {
  stroke: #000;
}

.footer-item__newsletter .form-row {
  padding-top: 0;
}

.footer-item__newsletter input {
  height: 3.125rem;
  padding-inline-end: 2.5rem;
  border-color: #333 !important;
  color: #333 !important;
  background-color: transparent;
}

.footer-item__newsletter input::placeholder {
  color: inherit;
}

.footer-item__newsletter input:focus,
.footer-item__newsletter input:hover {
  border-color: #000 !important;
}

.footer-item__newsletter button[type=submit] {
  top: 0;
  position: absolute;
  width: 50px;
  height: 100%;
  padding-top: 9px;
}

html[dir=rtl] .footer-item__newsletter button[type=submit] {
  left: 0;
}

html[dir=ltr] .footer-item__newsletter button[type=submit] {
  right: 0;
}

.no-touchevents .footer-item__newsletter button[type=submit]:hover svg {
  opacity: 1;
}

.footer-item__newsletter button[type=submit] svg {
  width: 65%;
  height: 65%;
  opacity: 0.62;
  transition: all 100ms linear;
}

.footer-item__newsletter button[type=submit] svg path {
  stroke: var(--color-text-footer);
}

.shop-login-button {
  display: block;
}


/* 5 Column Footer Layout Support */
.footer-top .grid.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1280px) {
  .footer-top .grid.grid-5.grid-portable-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .footer-top .grid.grid-5.grid-lap-1 {
    grid-template-columns: 1fr;
  }
}